.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 100%;
    padding: 0 20px;

    color: var(--p-black);

    &:hover{
        background-color: var(--off-white-2);
        cursor: pointer;

    }

    .title{
        font-size: 16px;
        font-weight: 600;
        color: var(--p-bg)
    }

    .titleIcon{
        height: 20px;
        margin-left: 3px;
    }


    .menu{
        position: absolute;
        top: 100%;
        left: 0;

        border-radius: 0 0px 8px 8px;
        -webkit-box-shadow: 0px 9px 10px 1px rgba(0,0,0,0.11); 
        box-shadow: 0px 9px 10px 1px rgba(0,0,0,0.11);

        .options{
            background-color: var(--off-white);
            padding: 10px 20px;
            white-space: nowrap;
            font-size: 14px;
            color: var(--p-bg);

            &:first-child{
                padding-top: 20px;
            }

            &:last-child{
                border-radius: 0 0px 8px 8px;
                padding-bottom: 20px;
            }

            &:hover{
                text-decoration: underline;
                color: var(--p-bg-d);
                cursor: pointer;
            }
        }
    }
}