.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 300px;

    background-color: var(--p-bg);

    .content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .logo{
            display: flex;
            align-items: center;

            p{
                font-size: 38px;
                font-weight: bolder;
                color: var(--primary)
            }

            img{
                height: 30px;
            }
        }

        .sections{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .socialP{
                margin-top: -38px;
            }

            img{
                height: 20px;
                margin-left: -15px;
                margin-top: 10px;
            }

            p{
                font-weight: 600;
                color: var(--primary);
                margin-left: -10px;
            }

            li{
                display: flex;
                margin-bottom: 5px;
                margin-left: -10px;
                
                a{
                    text-decoration: none;
                    color: var(--primary);
                    font-size: 14px;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    hr{
        width: 90%;
        border: none;
        background-color: var(--primary);
        border-top: 1px dashed var(--p-bg);
    }

    p{
        color: var(--primary);
        font-size: 14px;
    }
}